# lives in /etc/systemd/system/
[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d --restart=unless-stopped -p 8080:8080 rancher/server
ExecStop=/usr/bin/docker stop -t 2 redis_server

[Install]
WantedBy=default.target
